extends layout.pug

block content
    h1 Library Manager
    p Welcome to Library Manager
    ul
        li
            | Books
            ul
                li
                    a(href='/books/new') New Book
                li
                    a(href='/books') List All